.section-1{
  padding: 0 20rem;
  background-color: #f5f7fa;
  flex-wrap: wrap;
   font-family: "Rubik", sans-serif;
  h1{
    font-size: 4.25rem;
   
    font-weight: 500;
   
  }
   h1:first-of-type{
     color: #4d4d4d;
   }
    h1:nth-of-type(2){
        color: #4caf4f;
    }
    p{
        padding: 0.5rem 0;
        opacity: 0.5;
    }
    img{
        max-width: 100%;
        
    }
}